@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Edu";
    src: url(./fonts/EduAUVICWANTArrows-VariableFont_wght.ttf) format("woff2");
  }
  @font-face {
    font-family: "Dancing";
    src: url(./fonts/DancingScript-VariableFont_wght.ttf) format("woff2");
  }
}
